<header class="masthead ">
    
    <h3 class="masthead-brand" style="margin:0px auto 0px auto!important; width: 100px;">Library</h3>
    <nav class="nav nav-masthead">
      <a class="head nav-link" [routerLink]="['/']">Головна</a>
      <a  class="btn btn-warning nav-link mr-3" [routerLink]="['/auth']">Увійти</a >
      <button class="btn btn-danger  mr-3 nav-link" (click)="logoutUser()">Вийти</button >
      <a  class="btn btn-success nav-link" [routerLink]="['/reg']">Реєстрація</a >
    </nav>

</header>
